{% comment %} Lógica para definir as variáveis que usaremos {% endcomment %}
{%- assign page_title = page.title | default: site.title -%}
{%- if page.title -%}
  {%- assign page_title = page.title | append: " | " | append: site.author.name -%}
{%- endif -%}

{%- assign page_description = page.description | default: site.description -%}
{%- assign page_url = page.url | absolute_url -%}

{% comment %} Define a imagem a ser usada. Prioridade: page.image > site.social_image {% endcomment %}
{%- if page.image -%}
  {%- assign page_image = page.image | absolute_url -%}
{%- else -%}
  {%- assign page_image = site.social_image | absolute_url -%}
{%- endif -%}


    <title>{{ page_title }}</title>
    <link rel="canonical" href="{{ page_url }}">
    <meta name="description" content="{{ page_description }}">
    <meta name="author" content="{{ site.author.name }}">
    <!-- Configurações Gerais -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.author.name }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4a21cc">
    <meta name="apple-mobile-web-app-title" content="{{ site.author.name }}">
    <meta name="theme-color" content="#4a21cc">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4a21cc">
    <meta name="msapplication-navbutton-color" content="#4a21cc">
    <meta name="msapplication-TileColor" content="#4a21cc">
    <meta name="navbutton-color" content="#4a21cc">
    <!-- Meta Tags para Google -->
    <meta itemprop="name" content="{{ page_title }}">
    <meta itemprop="description" content="{{ page_description }}">
    <meta itemprop="image" content="{{ page_image }}">
    <!-- Meta Tags para Facebook (Open Graph), LinkedIn, WhatsApp -->
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:site_name" content="{{ site.author.name }}">
    <meta property="og:image" content="{{ page_image }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="{{ site.language | replace: '-', '_' | default: 'pt_BR' }}">
    <!-- Meta Tags para Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ page_description }}">
    <meta name="twitter:image" content="{{ page_image }}">
    <meta name="twitter:site" content="@{{ site.social.twitter.username }}">
    <meta name="twitter:creator" content="@{{ site.social.twitter.username }}">
    
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    
    <script type="application/ld+json">
{%- assign page_author = site.data.authors[page.author] | default: site.author -%}
{
  "@context": "https://schema.org",
  {%- if page.layout == 'post' -%}
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "image": "{{ page.image | default: site.social_image | absolute_url }}",
  "editor": "{{ page_author.name | default: site.author.name }}",
  "author": {
    "@type": "Person",
    "name": "{{ page_author.name | default: site.author.name }}",
    "url": "{{ page_author.url | default: site.author.url }}"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateCreated": "{{ page.date | date_to_xmlschema }}",
  {%- if page.last_modified_at -%}
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  {%- else -%}
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  {%- endif -%}
  "description": {{ page.description | default: page.excerpt | default: site.description | strip_html | strip_newlines | jsonify }},
  "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "{{ page.url | absolute_url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.author.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/favicon.ico' | absolute_url }}"
    }
  }
  {%- else -%}
  "@type": "WebSite",
  "name": "{{ site.author.name }}",
  "description": {{ site.description | jsonify }},
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.url }}"
  },
  "url": "{{ '/' | absolute_url }}"
  {%- endif %}
}
</script>

